<h2><%= subject %></h2>
<ul>
    <li><strong>Sender Email :</strong><%= email %></li>
</ul>
<br>
<strong>------- Begin of Message -------</strong><br>
<strong>Subject : </strong> <%= subject %><br>
<strong>content : </strong> <%= message %><br>
<strong>--------- End Message ---------</strong>
<br><br>

<i>THIS MESSAGE IS ONLY FOR ADMIN PURPOSE. !</i>