<h2>You got a reply form <%= senderName %> conversation</h2>
<strong>content :</strong> <%= message %><br>
<br><br>
to view full message thread and reply this message click here :<br>
<a href="<%= replyUrl %>"><%= replyUrl %></a>

<br><br>
<p>For Your Information: To help arbitrate disputes and preserve trust and safety,
    we retain all messages buyers and sellers send through SellBnB for two years.
    This includes your response to the message above.</p>