<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107495910-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', 'UA-107495910-1');
    </script>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>SellBnB</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/colors/blue.css" id="colors">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="boxed">
<div id="wrapper">

    <% include header.ejs %>


    <!-- Titlebar
    ================================================== -->
    <!--<section class="parallax-titlebar fullwidth-element"  data-background="#000" data-opacity="0.45" data-height="160">-->

        <!--<img src="images/titlebar_bg_02.jpg" alt="" />-->
        <!--<div class="parallax-overlay"></div>-->

        <!--<div class="parallax-content">-->
            <!--<h2>User Account <span>Contact Details</span></h2>-->

            <!--<nav id="breadcrumbs">-->
                <!--<ul>-->
                    <!--<li>Home</li>-->
                    <!--<li>Account</li>-->
                    <!--<li>Contact Details</li>-->
                <!--</ul>-->
            <!--</nav>-->
        <!--</div>-->
    <!--</section>-->
<div class="row"></div>
    <div class="container">

        <!-- Sidebar
        ================================================== -->
        <div class="four columns">

            <!-- Categories -->
            <div class="widget margin-top-0">

                <ul id="categories">

                    <li><a href="#">Basic Account</a></li>
                    <li><a href="#">Contact Information</a></li>
                    <li><a href="#">Bank Account</a></li>
                    <li><a href="#">Business Information</a></li>
                    <li><a href="#">Notification Preferences</a></li>

                </ul>
                <div class="clearfix"></div>

            </div>

        </div>


        <!-- Content
        ================================================== -->

        <div class="twelve columns products">

            <section class="variables">

                <form method="post" name="bidform">

                    <fieldset>

                        <div class="twelve alpha columns bidform">
                            <label>Images : </label>
                            <div class="ten columns" id="imagepreview-div"></div>
                            <button class="commodity-uploadimage" id="commodity-uploadimage">Upload Images</button>
                            <input type="file" name="fileToUpload" id="fileToUpload" style="display: none" multiple>
                        </div>

                        <div class="twelve alpha columns bidform">
                            <label>Name : </label>
                            <input name="name" type="text" id="name"/>
                        </div>

                        <div class="twelve alpha columns bidform">
                            <label>Segment : </label>
                            <input name="segment" type="text" id="segment"/>
                        </div>

                        <div class="twelve alpha columns bidform">
                            <label>Family : </label>
                            <input name="family" type="text" id="family"/>
                        </div>

                        <div class="twelve alpha columns bidform">
                            <label>Class : </label>
                            <input name="class" type="text" id="class"/>
                        </div>

                        <div class="twelve alpha columns bidform">
                            <label>Price Units : </label>
                            <input name="price_unit" type="text" id="price_unit" placeholder="Price Unit 1, Price Unit 2, Price Unit 3"/>
                        </div>

                        <div class="twelve alpha columns bidform">
                            <label>Measure Unit : </label>
                            <input name="measure_unit" type="text" id="measure_unit" placeholder="Measure Unit 1, Measure Unit 2, Measure Unit 3"/>
                        </div>

                        <div class="twelve alpha columns bidform">
                            <label>Packing Type : </label>
                            <input name="packing_type" type="text" id="packing_type" placeholder="Packing Type 1, Packing Type 2, Packing Type 3"/>
                        </div>

                        <div class="twelve alpha columns bidform">
                            <label>Alternative Names : </label>
                            <input name="alternative_names" type="text" id="alternative_names" placeholder="Alternative Name 1, Alternative Name 2, Alternative Name 3"/>
                        </div>

                        <div class="twelve alpha columns bidform">
                            <label>Specifications: </label>
                            <textarea name="specification" cols="91" rows="3" id="specification" spellcheck="true" style="width: 97%"></textarea>
                        </div>

                        <div class="twelve alpha columns bidform">
                            <table class="basic-table" style="display: none" id="parameter-table">
                                <thead>
                                <tr>
                                    <th style="text-align: center;">Parameter</th>
                                    <th style="text-align: center;">Value</th>
                                    <th style="text-align: center;"></th>
                                </tr>
                                </thead>
                                <tbody id="parameter-table-body"></tbody>
                            </table>
                            <a class="popup-with-zoom-anim" href="#addparameter-dialog" style="color:#2db2ea; float: right">Add Parameters</a>
                        </div>

                        <div class="twelve columns bidform">
                            <input type="submit" class="submit" id="submit" value="Add"/>
                        </div>

                    </fieldset>
                    <br>
                    <div class="notification success closeable" style="display: none" id="message_success">
                        <p><span>Success! </span>Commodity was successfully added</p>
                        <a class="close" href="#"></a>
                    </div>
                    <div class="clearfix"></div>
                </form>
                <div id="addparameter-dialog" class="small-dialog zoom-anim-dialog mfp-hide">
                    <h2 class="margin-bottom-10">Add Parameters</h2>
                    <form name="editform">

                        <fieldset>

                            <div class="twelve alpha columns editform">
                                <input name="parameter_name" type="text" id="parameter_name" placeholder="Parameter"/>
                            </div>

                            <div class="twelve alpha columns editform">
                                <input name="value" type="text" id="value" placeholder="Value"/>
                            </div>

                            <div class="twelve columns editform">
                                <input type="submit" class="submit" id="submitparameter" value="Add"/>
                            </div>
                        </fieldset>

                        <div class="clearfix"></div>
                    </form>
                </div>
            </section>
        </div>

    </div>

    <div class="margin-top-50"></div>

    <!-- Footer
    ================================================== -->
    <% include footer.ejs %>

</div>


<!-- Java Script
================================================== -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="scripts/jquery.jpanelmenu.js"></script>
<script src="scripts/jquery.themepunch.plugins.min.js"></script>
<script src="scripts/jquery.themepunch.revolution.min.js"></script>
<script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="scripts/jquery.magnific-popup.min.js"></script>
<script src="scripts/hoverIntent.js"></script>
<script src="scripts/superfish.js"></script>
<script src="scripts/jquery.pureparallax.js"></script>
<script src="scripts/jquery.pricefilter.js"></script>
<script src="scripts/jquery.selectric.min.js"></script>
<script src="scripts/jquery.royalslider.min.js"></script>
<script src="scripts/SelectBox.js"></script>
<script src="scripts/modernizr.custom.js"></script>
<script src="scripts/waypoints.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script src="scripts/jquery.counterup.min.js"></script>
<script src="scripts/jquery.tooltips.min.js"></script>
<script src="scripts/jquery.isotope.min.js"></script>
<script src="scripts/puregrid.js"></script>
<script src="scripts/stacktable.js"></script>
<script src="scripts/custom.js"></script>
<script src="scripts/views/addcommodity.js"></script>
<script src="scripts/views/header_func.js"></script>

</body>
</html>