<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Seller BnB</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/colors/blue.css" id="colors">

    <script src="scripts/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            height: 300,
            menubar: false,
            plugins: [
                'advlist autolink lists link image charmap print preview anchor',
                'searchreplace visualblocks code fullscreen',
                'insertdatetime media table contextmenu paste code'
            ],
            toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            content_css: '//www.tinymce.com/css/codepen.min.css'
        });
    </script>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="boxed">
<div id="wrapper">

    <!-- Header
    ================================================== -->
    <div class="container">

        <!-- Logo -->
        <div class="four columns">
            <div id="logo">
                <h1><a href="index.html"><img src="images/logo.png" alt="Trizzy"/></a></h1>
            </div>
        </div>


        <!-- Additional Menu -->
        <div class="twelve columns">
            <div id="additional-menu">
                <ul>
                    <li><a href="checkout-billing-details.html">English</a></li>
                    <li><a href="my-account.html">Sinhala</a></li>
                </ul>
            </div>
        </div>


        <!-- Shopping Cart -->
        <div class="twelve columns">

            <div class="cart">
                <!-- Button -->
                <div class="icon-box">
                    <span><i class="fa fa-mail-forward"></i></span>
                </div>
            </div>

            <div class="cart">
                <!-- Button -->
                <div class="icon-box">
                    <span><i class="fa fa-folder"></i></span>
                </div>
            </div>

            <div class="cart">
                <!-- Button -->
                <div class="icon-box">
                    <span><i class="fa fa-user"></i></span>
                </div>
            </div>

            <!-- Search -->
            <div align="center">
                <nav class="top-search">
                    <form action="#" method="get">
                        <button><i class="fa fa-search"></i></button>
                        <input class="search-field" type="text" placeholder="Search" value="" size="5" maxlength="4"/>
                    </form>
                </nav>
            </div>

        </div>

    </div>


    <!-- Navigation
    ================================================== -->
    <div class="container">
        <div class="sixteen columns">

            <a href="#menu" class="menu-trigger"><i class="fa fa-bars"></i> Menu</a>

            <nav id="navigation">
                <ul class="menu" id="responsive">

                    <li><a href="index.html" class="homepage">Home</a></li>

                    <li class="demo-button">
                        <a href="#">Market News</a>
                    </li>

                    <li class="demo-button">
                        <a href="#">Sell Account</a>
                    </li>

                    <li class="demo-button">
                        <a href="#">Buy Account</a>
                    </li>

                </ul>
            </nav>
        </div>
    </div>


    <!-- Titlebar
    ================================================== -->
    <section class="parallax-titlebar fullwidth-element"  data-background="#000" data-opacity="0.45" data-height="160">

        <img src="images/titlebar_bg_02.jpg" alt="" />
        <div class="parallax-overlay"></div>

        <div class="parallax-content">
            <h2>News <span>With Trust</span></h2>

            <nav id="breadcrumbs">
                <ul>
                    <li>Home</li>
                    <li>News</li>
                </ul>
            </nav>
        </div>
    </section>

    <div class="container">

        <!-- Sidebar
        ================================================== -->
        <div class="four columns">

            <!-- Categories -->
            <div class="widget margin-top-0">

                <ul id="categories">

                    <li><a href="#">Summary</a></li>
                    <li><a href="#">Membership</a></li>
                    <li><a href="#">Selling</a></li>
                    <li><a href="#">Buying</a></li>
                    <li><a href="#">Contract</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Adding Commodities</a></li>

                </ul>
                <div class="clearfix"></div>

            </div>

        </div>


        <!-- Content
        ================================================== -->

        <!-- Add News -->
        <div class="twelve columns products">

            <div class="newsform">
                <form method="post" name="newsform" action="api/news/addnews">

                    <fieldset>

                        <div class="twelve alpha columns">
                            <input name="title" type="text" id="title" placeholder="Title"/>
                        </div>

                        <div class="twelve alpha columns">
                            <select
                                class="orderby news-family"
                                name="category">Family
                                <option>Select Family</option>
                                <option>Stop Bidding</option>
                                <option>Delete</option>
                                <option>Hold</option>
                            </select>
                        </div>

                        <div class="twelve alpha columns">
                            <textarea id="news_content" name = "news_content">
                              <p style="text-align: center;">
                                Enter the Content Here!
                              </p>
                            </textarea>
                        </div>

                        <div class="twelve columns newsform">
                            <input type="submit" class="submit" id="submit-news-button" value="Submit"/>
                        </div>

                    </fieldset>

                    <div class="clearfix"></div>
                </form>
            </div>

        </div>

    </div>

    <div class="margin-top-50"></div>

    <!-- Footer
    ================================================== -->
    <div id="footer">

        <!-- Container -->
        <div class="container">

            <div class="four columns">
                <img src="images/logo-footer.png" alt="" class="margin-top-10"/>
                <p class="margin-top-15">Nulla facilisis feugiat magna, ut molestie metus hendrerit vitae. Vivamus
                    tristique lectus at varius rutrum. Integer lobortis mauris non consectetur eleifend.</p>
            </div>

            <div class="four columns">

                <!-- Headline -->
                <h3 class="headline footer">Customer Service</h3>
                <span class="line"></span>
                <div class="clearfix"></div>

                <ul class="footer-links">
                    <li><a href="#">Order Status</a></li>
                    <li><a href="#">Payment Methods</a></li>
                    <li><a href="#">Delivery & Returns</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>

            </div>

            <div class="four columns">

                <!-- Headline -->
                <h3 class="headline footer">My Account</h3>
                <span class="line"></span>
                <div class="clearfix"></div>

                <ul class="footer-links">
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Order History</a></li>
                    <li><a href="#">Wish List</a></li>
                </ul>

            </div>

            <div class="four columns">

                <!-- Headline -->
                <h3 class="headline footer">Newsletter</h3>
                <span class="line"></span>
                <div class="clearfix"></div>
                <p>Sign up to receive email updates on new product announcements, gift ideas, special promotions, sales
                    and more.</p>

                <form action="#" method="get">
                    <button class="newsletter-btn" type="submit">Join</button>
                    <input class="newsletter" type="text" placeholder="mail@example.com" value=""/>
                </form>
            </div>

        </div>
        <!-- Container / End -->

    </div>
    <!-- Footer / End -->

    <!-- Footer Bottom / Start -->
    <div id="footer-bottom">

        <!-- Container -->
        <div class="container">

            <div class="eight columns">© Copyright 2014 by <a href="#">trizzy</a>. All Rights Reserved.</div>
            <div class="eight columns">
                <ul class="payment-icons">
                    <li><img src="images/visa.png" alt=""/></li>
                    <li><img src="images/mastercard.png" alt=""/></li>
                    <li><img src="images/skrill.png" alt=""/></li>
                    <li><img src="images/moneybookers.png" alt=""/></li>
                    <li><img src="images/paypal.png" alt=""/></li>
                </ul>
            </div>

        </div>
        <!-- Container / End -->

    </div>
    <!-- Footer Bottom / End -->

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

</div>


<!-- Java Script
================================================== -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="scripts/jquery.jpanelmenu.js"></script>
<script src="scripts/jquery.themepunch.plugins.min.js"></script>
<script src="scripts/jquery.themepunch.revolution.min.js"></script>
<script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="scripts/jquery.magnific-popup.min.js"></script>
<script src="scripts/hoverIntent.js"></script>
<script src="scripts/superfish.js"></script>
<script src="scripts/jquery.pureparallax.js"></script>
<script src="scripts/jquery.pricefilter.js"></script>
<script src="scripts/jquery.selectric.min.js"></script>
<script src="scripts/jquery.royalslider.min.js"></script>
<script src="scripts/SelectBox.js"></script>
<script src="scripts/modernizr.custom.js"></script>
<script src="scripts/waypoints.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script src="scripts/jquery.counterup.min.js"></script>
<script src="scripts/jquery.tooltips.min.js"></script>
<script src="scripts/jquery.isotope.min.js"></script>
<script src="scripts/puregrid.js"></script>
<script src="scripts/stacktable.js"></script>
<script src="scripts/custom.js"></script>
<script src="scripts/views/addnews.js"></script>

</body>
</html>