<div id="footer">

    <!-- Container -->
    <div class="container">

        <div class="four columns">
            <img src="images/Sell_BnB_Logo.png" alt="" class="margin-top-10" style="width: 136px; height: 43px"/>
            <p class="margin-top-15">SellBnB offers everything you need to buy and sell commodities both locally and internationally.</p>
        </div>

        <div class="four columns">

            <!-- Headline -->
            <h4 style="color: lightgrey">Available 24/7 at</h4><br>
            <h5 style="color: lightgrey">Sri Lanka</h5>
            <h5 style="color: lightgrey">071 2924287</h5><br>

            <ul class="payment-icons" style="float:left">
                <li><img src="images/footer/fb_logo.png" alt=""/></li>
                <li><img src="images/footer/twitter.png" alt=""/></li>
                <li><img src="images/footer/pinrest.png" alt=""/></li>
                <li><img src="images/footer/youtube.png" alt=""/></li>
            </ul>

        </div>

        <div class="four columns">

            <!-- Headline -->
            <h3 class="headline footer">Navigate To</h3>
            <span class="line"></span>
            <div class="clearfix"></div>

            <ul class="footer-links">
                <li><a href="/user/basic">My Account</a></li>
                <li><a href="/user/sell/list/start/0,0,0?sellingpageItemOption=Open&openDurationOption=1&pendingDurationOption=1&cancelledDurationOption=1">Sell Account</a></li>
                <li><a href="/user/buy/list/start/0,0,0?buyingpageItemOption=Open&openDurationOption=1&pendingDurationOption=1&cancelledDurationOption=1">Buy Account</a></li>
                <li><a href="/news">News</a></li>
            </ul>

        </div>

        <div class="four columns" align="center">

            <img src="images/footer/sl_flag.png" alt="" class="margin-top-10" style="width: 160px; height: 80px"/>
        </div>

    </div>
    <!-- Container / End -->

</div>
<!-- Footer / End -->

<!-- Footer Bottom / Start -->
<div id="footer-bottom">

    <!-- Container -->
    <div class="container">

        <div class="eight columns">© Copyright 2017 by <a href="#">SellBnB</a>. All Rights Reserved.</div>

    </div>
    <!-- Container / End -->

</div>
<!-- Footer Bottom / End -->

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>