<script type="text/javascript">
  document.body.style.zoom = "100%";
</script>
<script>
  if (window.location.href.indexOf("user/sell/list/start") == -1) {
    localStorage.removeItem("prevDurationOptionOpen");
    localStorage.removeItem("prevPaginationOptionOpen");
    localStorage.removeItem("prevDurationOptionPending");
    localStorage.removeItem("prevPaginationOptionPending");
    localStorage.removeItem("prevDurationOptionCancelled");
    localStorage.removeItem("prevPaginationOptionCancelled");
  }

  if (window.location.href.indexOf("user/buy/list/start") == -1) {
    localStorage.removeItem("prevDurationOptionOpenBuy");
    localStorage.removeItem("prevPaginationOptionOpenBuy");
    localStorage.removeItem("prevDurationOptionPendingBuy");
    localStorage.removeItem("prevPaginationOptionPendingBuy");
    localStorage.removeItem("prevDurationOptionCancelledBuy");
    localStorage.removeItem("prevPaginationOptionCancelledBuy");
  }
</script>

<style>
    .header-link {
        padding-top: 6px;
        font-size: 20px;
        font-family: inherit;
        margin-top: 30px;
        text-align: right;
    }

    .header-link > span > a {
        color: #003953;
    }

    .header-link > span {
        margin: 0 15px;
    }

    .sellbnb-quat {
        margin: 10px 0;
        text-align: center;
    }

    .sellbnb-quat > span {
        color: #23008b;
        font-family: cursive;
        font-size: 20px;
        background-color: #fff;
    }

    .header-bar {
        background-color: #0076bd;
        height: 40px;
        width: 100%;
        line-height: 40px;
        font-size: 13px;
        font-weight: bold;
        text-align: center;
    }

    .demo-button {
        width: 25%;
        text-align: center;
    }

    .menu > li > a {
        color: #003953;
    }

    .search {
        width: 100%;
        position: relative
    }

    .searchTerm2 {
        float: left !important;
        width: 100% !important;
        border: 3px solid #003953 !important;
        padding: 5px !important;
        height: 20px;
        border-radius: 5px !important;
        outline: none !important;
        color: #9DBFAF !important;
    }

    .searchTerm2:focus {
        color: black !important;
    }

    .searchButton {
        position: absolute;
        right: -50px;
        width: 100px;
        height: 36px;
        border: 1px solid #003953;
        background: #003953;
        text-align: center;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
    }

    /*Resize the wrap to see the search bar change!*/
    .wrap {
        width: 100%;
        top: 50%;
        left: 50%;
    }
</style>
<!-- Header -->
<div class="container header-bar">
    <div class="two columns" style=" border-right: solid 2px #6220a4">
        <a href="/help" style="color: #ffffff; display:block;">HELP</a>
    </div>
    <div class="fourteen columns" style="color:#333333; text-align:left;">
        Buy commodities with confidence!
        <span style="color:#fffce5;">Ant Commodity vets all producers and inspects all consignments before shipping</span>
    </div>
</div>

<div class="container" style="padding-top: 1px; z-index:2;">

    <!-- Logo -->
    <div class="three columns">
        <div id="logo" style="margin: 0 0 0 20px;">
            <a href="/"><img src="/images/site_logo.jpg" style="width: 115px; height:65px;" alt="Ant Commodity"/></a>
        </div>
    </div>
    <div class="seven columns" style="margin-top: 30px">

        <div class="wrap">
            <div class="search">
                <form action="/api/items/search/start/0" method="GET">
                    <input type="hidden" value="0" name="start"/>
                    <input type="text" class="searchTerm2" name="keyword" placeholder="Search for commodities"
                           id="top_search" list="searchresults">
                    <datalist id="searchresults"></datalist>
                    <button type="submit" class="searchButton">
                        Search
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="seven columns header-link">
        <span><a href="/user/basic">PROFILE</a></span>
        <span><a href="/user/inbox">INBOX</a></span>
        <span>
            <% if(user != null && user != undefined) { %>
            <a href="/user/logout">LOG OUT</a>
            <% } else { %>
            <a href="/user/login?action=login">LOG IN</a>
            <% } %>
        </span>
    </div>
</div>

<!-- Navigation
================================================== -->
<div class="container" style="width: 100%;">
    <div class="menu-bar" style="margin-left: 0;">

        <a href="#menu" class="menu-trigger"><i class="fa fa-bars"></i>Menu</a>

        <nav id="navigation">
            <ul class="menu" id="responsive" style="margin-bottom:0; background-color: #f5f5f5">

                <!--<li><a href="/" class="homepage">Home</a></li>-->

                <li class="demo-button">
                    <a style="display: block" href="/news/start/0?category=all&keyword=all">Market News</a>
                </li>

                <li class="demo-button">
                    <a style="display: block" href="/who_we_are">Who We Are</a>
                </li>

                <li class="demo-button">
                    <a style="display: block" href="/team">Our team</a>
                </li>

                <li class="demo-button">
                    <a style="display: block" href="/how_to">How to</a>
                </li>

                <!--<li class="demo-button">-->
                <!--<a href="/items/search">Sell</a>-->
                <!--</li>-->
            </ul>
        </nav>
    </div>
</div>
