<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=GA_TRACKING_ID"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'GA_TRACKING_ID');
    </script>

    <%
    if (typeof(message)== undefined)
        var message = "";
    %>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Ant Commodity</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/colors/blue.css" id="colors">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src='https://www.google.com/recaptcha/api.js'></script>

</head>

<body class="boxed">
<div id="wrapper">

    <% include header.ejs %>

    <div class="row" style="text-align: center; background-color: #003953;">
        <h1 style="color: white">Help and FAQ</h1>
    </div>
    <!-- Content
    ================================================== -->

    <!-- Container -->
    <div class="container" style="color:#000;">
        <div class="one columns" style="visibility: hidden">a</div>
        <div class="fifteen columns" style="font-size: 18px">
            <div style="background-image: url('images/help-cover.jpg'); height: 250px; background-size: 100%; position: relative;">
                <h1 style="position: absolute; top: 25px; left:35px; color:black;">If you have a problem ?</h1>
                <div class="last-bid" align="center">
                    <table border="0px">
                        <tr>
                            <td>
                                <a href="#message-dialog" class="button popup-with-zoom-anim margin-left-0"
                                   style="background-color: green; top:64px; left: 116px;">Click to submit A Problem</a>
                                <div id="message-dialog" class="small-dialog zoom-anim-dialog mfp-hide"
                                     style="margin-top: -100px">
                                    <h3 class="headline">Support Corner</h3><span class="line margin-bottom-25"></span>
                                    <div class="clearfix"></div>

                                    <!-- Form -->
                                    <form id="add-support" class="add-comment" action="" method="POST">
                                        <fieldset>
                                            <div class="twelve alpha columns editform">
                                                <label>Subject:</label>
                                                <input type="text" name="subject" placeholder="Type message subject"/>
                                            </div>
                                            <div class="twelve alpha columns editform">
                                                <label>Email :</label>
                                                <input type="email" name="email" placeholder="Your Email"/>
                                            </div>
                                            <div>
                                                <label>Message:</label>
                                                <textarea cols="7" rows="3" name="message"
                                                          style="width: 97%"></textarea>
                                            </div>
                                            <div class="g-recaptcha" data-sitekey="6Leb9zwUAAAAAEk2Ft01XQmNjuRiiAscYB3ZcRNK"></div>
                                        </fieldset>

                                        <input type="submit" class="button color" value="Send Message"
                                               style="width: 100%"/>
                                        <div class="clearfix"></div>
                                        <div class="notification" id="success-notification" style="display: none">
                                            <p id="not-msg">Sent !</p>
                                        </div>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <h1 style="color:#000; margin-top: 30px;">Frequently Asked Questions</h1>
                <h3 style="color:#000; font-weight:bold"><a name="incoterms">#</a> What are incoterms?</h3>
                <p style="padding-left:25px;;">
                    Incoterms are a series of sales terms used in international trade. Commonly used incoterms are:
                    <br><br>
                    “Free On Board” or FOB means that the seller delivers the goods on board the vessel nominated
                    by the buyer at the named port of shipment or procures the goods already so delivered.
                    The risk of loss of or damage to the goods passes when the goods are on board the vessel,
                    and the buyer bears all costs from that moment onwards.
                    <br><br>
                    CIF Cost, Insurance and Freight “Cost, Insurance and Freight” means that the seller
                    delivers the goods on board the vessel or procures the goods already so delivered.
                    The risk of loss of or damage to the goods passes when the goods are on board the vessel.
                    The seller must contract for and pay the costs and freight necessary to bring the goods to
                    the named port of destination.
                    <br><br>
                    ‘The seller also contracts for insurance cover against the buyer’s risk of loss of or
                    damage to the goods during the carriage. The buyer should note that under CIF the
                    seller is required to obtain insurance only on minimum cover. Should the buyer wish
                    to have more insurance protection, it will need either to agree as much expressly with the
                    seller or to make its own extra insurance arrangements.” For additional information on
                    incoterms, please refer to:
                    <a href="https://iccwbo.org/resources-for-business/incoterms-rules/incoterms-rules-2010/">
                        https://iccwbo.org/resources-for-business/incoterms-rules/incoterms-rules-2010/
                    </a>or send us a message.


                    <br><br>
                    Shipping mediums refer to the method you want the consignment to be delivered.
                    The two mediums are: by air and sea. By Air is faster. If you have shipping restrictions or
                    requests, please include them in the Note section.
                </p>
                <hr>

                <h3 style="color:#000; font-weight:bold"><a name="whyMsg">#</a> Why do Ant Commodity field officers reply to messages sent by buyers?</h3>
                <p style="padding-left:25px;;">
                    Most suppliers do not use technology or communicate in English. Therefore, to maintain our
                    high standards for accuracy and fast responses, Ant Commodity has a team of
                    Field Officers that first review the message and communicate with the corresponding buyer
                    to craft the correct response.

                    <br><br>
                    We believe this enables buyers and producers to trade with confidence, using accurate information.
                </p>
                <hr>
                <h3 style="color:#000; font-weight:bold"><a name="1psnt">#</a> What are Ant Commodity’s fees, and are they negotiable?</h3>
                <div style="padding-left:25px;;">
                    No subscription or any other fee is charged to buyers who search for commodities and interact with the producer, and read commodity news.
                    <br>
                    However, Ant Commodity takes 1% of the total contract value after the contract is executed. For other services like lab testing and sample mailings, Ant Commodity will ask the buyer to cover the cost.
                    <br>
                    These charges are not negotiable.
                    <br>
                    The 0.5% fee that is collected enables us to provide the following services to our buyers:
                    <table>
                        <tr>
                            <td style="width: 30px; padding-left: 10px;"><i class="fa fa-arrows"></i></td>
                            <td>Ant Commodity inspects producers before registering them with the platform and shares the findings in the form of an inspection report that buyers can see</td>
                        </tr>
                        <tr>
                            <td style="width: 30px; padding-left: 10px;"><i class="fa fa-arrows"></i></td>
                            <td>Ant Commodity has an communication intermediary between producer and buyer who ensures accuracy and fast responses</td>
                        </tr>
                        <tr>
                            <td style="width: 30px; padding-left: 10px;"><i class="fa fa-arrows"></i></td>
                            <td>Ant Commodity inspectsthe consignment before releasing the funds to the producer and shipping the consignment to the buyer</td>
                        </tr>
                        <tr>
                            <td style="width: 30px; padding-left: 10px;"><i class="fa fa-arrows"></i></td>
                            <td>Ant Commodity provides commodity news on the website </td>
                        </tr>
                        <tr>
                            <td style="width: 30px; padding-left: 10px;"><i class="fa fa-arrows"></i></td>
                            <td>Ant Commodity has an experienced, reliable, and passionate team ready to help both producers and buyers at any time and in any given situation.</td>
                        </tr>
                    </table>
                </div>
                <hr>

                <h3 style="color:#000; font-weight:bold"><a name="shipment">#</a> What if the shipment does not passan Ant Commodity inspection?</h3>
                <div style="padding-left:25px;;">
                    If an inspection fails for any reason, Ant Commodity will not release the funds to
                    the producer nor send the shipment to buyer. Ant Commodity will send the shipment
                    inspection report to the producer and buyer at the same time, along with information about
                    the discrepancies.
                    <br><br>
                    Ant Commodity will coordinate with both sides to come to a decision. If an agreement cannot
                    be reached, Ant Commodity will cancel the contract and return the full amount (excluding bank
                    charges) to the buyer. We will not charge the 0.5% fee if a contract is cancelled
                    because of a fault on the part of the producer.

                </div>
                <hr>

                <h3 style="color:#000; font-weight:bold"><a name="whoShip">#</a> Who ships the consignment?</h3>
                <div style="padding-left:25px;;">
                    Ant Commodity sends the shipment to the buyer, not the producer. We
                    have a team of experts that handles the shipping.
                </div>
                <hr>

                <h3 style="color:#000; font-weight:bold"><a name="payment">#</a> What are Ant Commodity’s payment terms and methods?</h3>
                <div style="padding-left:25px;;">
                    For payments of less than $2000, Ant Commodity accepts online payments. For each online payment,
                    there will be a 3.5% transaction fee.  Ant Commodity must receive the payment in full
                    to execute the service.
                    <br><br>
                    For payments over $2000, Ant Commodity will send the banking information for a t/t
                    transaction(wire transaction). There will be a $45 fixed bank fee for each
                    transaction. Ant Commodity must receive the payment in full to execute the service.
                    Note:All bank charges are charged to the buyer’s account.
                </div>
                <hr>

                <h3 style="color:#000; font-weight:bold"><a name="creditCard">#</a> Is my credit card and bank details safe?</h3>
                <div style="padding-left:25px;;">
                    We do not store your credit card details on our servers. We use third-party
                    services to process your transaction, and each time you send us a payment, you will
                    need to submit your card details.
                    <br><br>
                    We may ask for your bank number or T/T receipt to confirm the payment. As the information
                    will be transferred through our messaging app, the information will be stored for up to
                    two years. We use the highest-level SSL encryption technology to secure all messages and transactions.
                    <br>
                    If we haven’t addressed your question here, please send us a message. We will get back to you within 24 hours
                </div>
                <hr>
            </div>
        </div>
    </div>

    <div class="margin-top-50"></div>


    <!-- Footer
    ================================================== -->
    <% include footer.ejs %>

</div>


<!-- Java Script
================================================== -->
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/scripts/jquery.jpanelmenu.js"></script>
<script src="/scripts/jquery.themepunch.plugins.min.js"></script>
<script src="/scripts/jquery.themepunch.revolution.min.js"></script>
<script src="/scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="/scripts/jquery.magnific-popup.min.js"></script>
<script src="/scripts/hoverIntent.js"></script>
<script src="/scripts/superfish.js"></script>
<script src="/scripts/jquery.pureparallax.js"></script>
<script src="/scripts/jquery.pricefilter.js"></script>
<script src="/scripts/jquery.selectric.min.js"></script>
<script src="/scripts/jquery.royalslider.min.js"></script>
<script src="/scripts/SelectBox.js"></script>
<script src="/scripts/modernizr.custom.js"></script>
<script src="/scripts/waypoints.min.js"></script>
<script src="/scripts/jquery.flexslider-min.js"></script>
<script src="/scripts/jquery.counterup.min.js"></script>
<script src="/scripts/jquery.tooltips.min.js"></script>
<script src="/scripts/jquery.isotope.min.js"></script>
<script src="/scripts/puregrid.js"></script>
<script src="/scripts/stacktable.js"></script>
<script src="/scripts/custom.js"></script>
<script src="/scripts/views/header_func.js"></script>

<script>
  //
  $('#add-support').submit(function (event) {
    $('#success-notification').removeClass('success');
    $('#success-notification').removeClass('error');
    $('#success-notification').css('display', 'none');
    event.preventDefault();
    var dataObj = {};
    $( this ).serializeArray().forEach(function (val) {
      dataObj[val['name']] = val['value'];
    });
    console.log(dataObj);
    $.ajax({
      url: '/api/messages/support_message',
      data: dataObj,
      type: 'POST',
      success: function(data){
        $('#success-notification').css('display', '');
        $('#not-msg').html(data.msg);
        $('#success-notification').addClass(data.success ? 'success': 'error')
      }
    })
  })
</script>

</body>
</html>