<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Seller BnB</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/colors/blue.css" id="colors">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="boxed">
<div id="wrapper">

    <% include header.ejs %>


    <!-- Titlebar
    ================================================== -->
    <section class="parallax-titlebar fullwidth-element"  data-background="#000" data-opacity="0.45" data-height="160">

        <img src="images/titlebar_bg_02.jpg" alt="" />
        <div class="parallax-overlay"></div>

        <div class="parallax-content">
            <h2 id="mainTitle"></h2>
        </div>
    </section>

    <div class="container">

        <!-- Slider
        ================================================== -->
        <div class="eight columns">
            <div class="slider-padding" id="slider-padding">
                <div id="product-slider" class="royalSlider rsDefault">
                    <% if(previewImages!= undefined && previewImages != null && previewImages.length > 0) {%>
                        <% for(imageIndex = 0; imageIndex < previewImages.length; imageIndex++) {;%>
                            <img class="rsImg" src="<%= previewImages[imageIndex].data%>"
                                 data-rsTmb="<%= previewImages[imageIndex].data %>"
                                 alt=""/>
                        <% } %>
                    <% } else {  %>
                        <img class="rsImg" src="images/product_item_01a.jpg" data-rsTmb="images/product_item_thumb_01a.png"
                             alt=""/>
                    <% } %>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


        <!-- Content
        ================================================== -->
        <div class="eight columns">
            <div class="product-page">

                <!-- Headline -->
                <section class="title">
                    <h2 id="title"></h2>
                    <h3 id="username"></h3>

                    <div class="reviews-counter-product">
                        <span>No Ratings Yet</span>
                    </div>
                </section>

                <section>

                    <!-- Product Details Table -->
                    <div class="product-div">
                        <table class="basic-table">
                            <tr>
                                <th>Quantity</th>
                                <td id="quantity"></td>
                            </tr>

                            <tr>
                                <th>Packing Type</th>
                                <td id="packingType"></td>
                            </tr>

                            <tr>
                                <th>Delivery By</th>
                                <td id="deliveryBy"></td>
                            </tr>

                            <tr>
                                <th>Warehouse Address</th>
                                <td id="warehouse"></td>
                            </tr>

                            <tr>
                                <th>Payment terms</th>
                                <td id="paymentTerm"></td>
                            </tr>

                            <tr>
                                <th>Suggested Price</th>
                                <td id="suggestedPrice"></td>
                            </tr>
                        </table>
                    </div>

                    <div class="product-seller-note">
                        <p class="margin-reset"><strong id="note">Seller Note : </strong></p>
                    </div>

                    <div class="notification notice" align="center">
                        <p><span id="timeLeft">Time left : </span></p>
                    </div>

                    <!-- Bid Table -->
                    <div class="last-bid" align="center">
                        <table border="0px">
                            <tr>
                                <td class="last-bid-label">
                                    <strong>Last Bid </strong>
                                </td>
                                <td>
                                    No Bids
                                </td>
                            </tr>
                            <tr>
                                <td class="last-bid-label">
                                    <strong>Your Last Bid </strong>
                                </td>
                                <td>
                                    No Bids
                                </td>
                            </tr>
                            <tr>
                                <td class="last-bid-label">
                                    <strong>Status </strong>
                                </td>
                                <td>
                                    Outbid
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="clearfix"></div>

                </section>

            </div>
        </div>

    </div>

    <div class="container">
        <div class="twelve columns">
            <!-- Tabs Navigation -->
            <ul class="tabs-nav">
                <li class="active"><a href="#tab1">Your Preferences</a></li>
                <li><a href="#tab2">Reviews</a></li>
            </ul>

            <!-- Tabs Content -->
            <div class="tabs-container">

                <div class="tab-content" id="tab1">

                    <section class="variables">

                        <form method="post" name="bidform">

                            <fieldset>
                                <div class="thirteen alpha columns bidform">
                                    <label>Your Bid : </label>
                                    <div class="ten columns" style="margin-left: 0px;">
                                        <input name="bid" type="text" id="your_bid"/>
                                    </div>
                                    <div class="two columns">
                                        <select name="priceUnit" id="priceUnit">
                                            <option value="">USD</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="thirteen alpha columns bidform">
                                    <label>Quantity : </label>
                                    <div class="ten columns" style="margin-left: 0px;">
                                        <input name="quantity" type="text" id="quantity"/>
                                    </div>
                                    <div class="two columns">
                                        <select name="measureUnit" id="measureUnit">
                                            <option value="">KG</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="twelve alpha columns bidform">
                                    <label for="delivery_by">Delivery By : </label>
                                    <select id="delivery_by" name="delivery_by">
                                        <option>Buyer</option>
                                        <option>Seller</option>
                                    </select>
                                </div>

                                <div class="twelve alpha columns bidform">
                                    <label>Delivery Cost : </label>
                                    <input name="delivery_cost" type="text" id="delivery_cost"/>
                                </div>

                                <div class="twelve alpha columns bidform">
                                    <label for="warehouse">Warehouse : </label>
                                    <select id="warehouse" name="warehouse">
                                        <option value="">Buyer's Warehouse Address here</option>
                                    </select>
                                </div>

                                <div class="twelve alpha columns bidform">
                                    <label>Packing Type : </label>
                                    <select name="priceUnit" id="priceUnit">
                                        <option value="">Packing Types</option>
                                    </select>
                                </div>

                                <div class="twelve alpha columns bidform">
                                    <label for="payment_terms">Payment Terms : </label>
                                    <select id="payment_terms" name="payment_terms">
                                        <option>1 month credit</option>
                                        <option>1 week credit</option>
                                        <option>Cash On Delivery</option>
                                    </select>
                                </div>

                                <div class="twelve alpha columns bidform">
                                    <label>Delivery Date : </label>
                                    <input name="delivery_date" type="text" id="delivery_date"/>
                                </div>

                                <div class="twelve alpha columns bidform">
                                    <label>Buyer Note: <span>*</span></label>
                                    <textarea name="buyer_note" cols="91" rows="3" id="comment" spellcheck="true" style="width: 100%"></textarea>
                                </div>

                                <div class="twelve columns bidform">
                                    <input type="submit" class="submit" id="submit" value="Submit"/>
                                </div>

                            </fieldset>

                            <div class="clearfix"></div>
                        </form>

                    </section>

                </div>

                <div class="tab-content" id="tab2">

                    <!-- Reviews -->
                    <section class="comments">
                        <p>No Review Yet</p>

                        <a href="#small-dialog" class="popup-with-zoom-anim button color">Add Review</a>

                        <div id="small-dialog" class="small-dialog zoom-anim-dialog mfp-hide" style="top:-500px">
                            <h3 class="headline">Add Review</h3><span class="line margin-bottom-25"></span>
                            <div class="clearfix"></div>

                            <!-- Form -->
                            <form id="add-comment" class="add-comment" action="" method="POST">
                                <fieldset>
                                    <div class="feedback-rating">
                                        <span style="float:left">Rating:</span>
                                        <input type="radio" id="star5" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                                        <input type="radio" id="star4" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                                        <input type="radio" id="star3" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                                        <input type="radio" id="star2" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                                        <input type="radio" id="star1" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                                    </div>

                                    <br><br>
                                    <div>
                                        <label>Review:</label>
                                        <textarea cols="40" rows="3" name="feedback"></textarea>
                                    </div>

                                </fieldset>

                                <input type="submit" class="button color" value="Add Review" style="width: 100%"/>
                                <div class="clearfix"></div>

                            </form>
                        </div>

                    </section>

                </div>

            </div>
        </div>
    </div>


    <div class="margin-top-50"></div>

    <!-- Footer
    ================================================== -->
    <% include footer.ejs %>

</div>


<!-- Java Script
================================================== -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="scripts/jquery.jpanelmenu.js"></script>
<script src="scripts/jquery.themepunch.plugins.min.js"></script>
<script src="scripts/jquery.themepunch.revolution.min.js"></script>
<script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="scripts/jquery.magnific-popup.min.js"></script>
<script src="scripts/hoverIntent.js"></script>
<script src="scripts/superfish.js"></script>
<script src="scripts/jquery.pureparallax.js"></script>
<script src="scripts/jquery.pricefilter.js"></script>
<script src="scripts/jquery.selectric.min.js"></script>
<script src="scripts/jquery.royalslider.min.js"></script>
<script src="scripts/SelectBox.js"></script>
<script src="scripts/modernizr.custom.js"></script>
<script src="scripts/waypoints.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script src="scripts/jquery.counterup.min.js"></script>
<script src="scripts/jquery.tooltips.min.js"></script>
<script src="scripts/jquery.isotope.min.js"></script>
<script src="scripts/puregrid.js"></script>
<script src="scripts/stacktable.js"></script>
<script src="scripts/custom.js"></script>
<script src="scripts/views/itempreview.js"></script>
<script src="scripts/views/header_func.js"></script>

</body>
</html>