<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111566442-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-111566442-1');
    </script>

    <%
    if (typeof(message)== undefined)
        var message = "";
    %>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8"> <meta name="google-site-verification" content="-5-GgMPiU4tkzv-hzkY5sFM0HwUsWV1jMsYRzy2JKGA" />
    <title>Ant Commodity</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/colors/blue.css" id="colors">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="boxed">
<div id="wrapper">

    <% include header.ejs %>

<div class="row"></div>

    <!-- Content
    ================================================== -->

    <!-- Container -->
    <div class="container">

        <div class="six columns centered">

            <ul class="tabs-nav">
                <li id="tab_1"><a href="#tab1">Login</a></li>
                <li id="tab_2"><a href="#tab2">Sign Up</a></li>
            </ul>

            <!-- Tabs Content -->
            <div class="tabs-container">

                <div class="tab-content" id="tab1">

                    <form method="post" class="login" action="/user/login">

                        <% if(message != '') { %>
                        <div class="notification error closeable">
                            <p><span>Error!</span> <%= message %></p>
                            <a class="close" href="#"></a>
                        </div>
                        <% } %>
                        <p class="form-row form-row-wide">
                            <label for="username">Username: <span class="required">*</span></label>
                            <input type="text" class="input-text" name="username" id="username"
                                   value="<%= expectedUser ? expectedUser : ''%>"/>
                        </p>

                        <p class="form-row form-row-wide">
                            <label for="password">Password: <span class="required">*</span></label>
                            <input class="input-text" type="password" name="password" id="password" value=""/>
                        </p>

                        <p class="form-row">
                            <input type="submit" class="button" name="login" value="Sign In"/>

                            <label for="rememberme" class="rememberme">
                                <input name="rememberme" type="checkbox" id="rememberme" value="forever"/> Remember
                                Me</label>
                        </p>

                        <p class="lost_password">
                            <a href="/user/forgotpassword">Lost Your Password?</a>
                        </p>

                    </form>
                </div>

                <div class="tab-content" id="tab2">
                    <form method="post" class="register" action="/user/addseller" id="registerForm">

                        <% if(signupError != '' && signupError != null) { %>
                        <div class="notification error closeable">
                            <p><span>Error!</span> <%= signupError %></p>
                            <a class="close" href="#"></a>
                        </div>
                        <% } %>

                        <div class="notification error closeable" id="passwordmatchError" style="display: none">
                            <p><span>Error!</span></p>
                            <a class="close" href="#"></a>
                        </div>

                        <p class="form-row form-row-wide">
                            <label for="reg_username">User Name: <span class="required">*</span></label>
                            <input type="text" class="input-text" name="username" id="reg_username" value=""/>
                        </p>

                        <p class="form-row form-row-wide">
                            <label for="reg_email">Email Address: <span class="required">*</span></label>
                            <input type="email" class="input-text" name="email" id="reg_email"/>
                        </p>

                        <p class="form-row form-row-wide">
                            <label for="reg_password">Password: <span class="required">*</span></label>
                            <input type="password" class="input-text" name="password" id="reg_password"/>
                        </p>

                        <p class="form-row form-row-wide">
                            <label for="reg_password2">Repeat Password: <span class="required">*</span></label>
                            <input type="password" class="input-text" name="password" id="reg_password2"/>
                        </p>

                        <p class="form-row">
                            <input type="submit" class="button" name="register" value="Register" id="registerButton"/>
                        </p>

                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="margin-top-50"></div>


    <!-- Footer
    ================================================== -->
    <% include footer.ejs %>

</div>


<!-- Java Script
================================================== -->
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/scripts/jquery.jpanelmenu.js"></script>
<script src="/scripts/jquery.themepunch.plugins.min.js"></script>
<script src="/scripts/jquery.themepunch.revolution.min.js"></script>
<script src="/scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="/scripts/jquery.magnific-popup.min.js"></script>
<script src="/scripts/hoverIntent.js"></script>
<script src="/scripts/superfish.js"></script>
<script src="/scripts/jquery.pureparallax.js"></script>
<script src="/scripts/jquery.pricefilter.js"></script>
<script src="/scripts/jquery.selectric.min.js"></script>
<script src="/scripts/jquery.royalslider.min.js"></script>
<script src="/scripts/SelectBox.js"></script>
<script src="/scripts/modernizr.custom.js"></script>
<script src="/scripts/waypoints.min.js"></script>
<script src="/scripts/jquery.flexslider-min.js"></script>
<script src="/scripts/jquery.counterup.min.js"></script>
<script src="/scripts/jquery.tooltips.min.js"></script>
<script src="/scripts/jquery.isotope.min.js"></script>
<script src="/scripts/puregrid.js"></script>
<script src="/scripts/stacktable.js"></script>
<script src="/scripts/custom.js"></script>
<script src="/scripts/views/login.js"></script>
<script src="/scripts/views/header_func.js"></script>

</body>
</html>