<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=GA_TRACKING_ID"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'GA_TRACKING_ID');
    </script>

    <%
    if (typeof(message) == undefined)
        var message = "";
    %>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Ant Commodity</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/colors/blue.css" id="colors">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="boxed">
<div id="wrapper">

    <% include header.ejs %>

    <div class="row" style="text-align: center; background-color: #003953;">
        <h1 style="color: white">Welcome to our Privacy Policy</h1>
    </div>
    <!-- Content
    ================================================== -->

    <!-- Container -->
    <div class="container" style="color:#000;">
        <div class="one columns" style="visibility: hidden">a</div>
        <div class="fourteen columns" style="font-size: 18px">
            <br>
            <h2>Your privacy is critically important to us.</h2>
            <br>

            <h1>Ant Commodity</h1>

            <h3>7657443748</h3>

            <p style="text-indent: 2em; text-align:justify;">
                It is Ant Commodity’s policy to respect your privacy regarding any
                information we may
                collect while operating our website. This Privacy Policy applies to
                www.antcommodity.com (hereinafter, "us", "we", or "www.antcommodity.com"). We respect
                your privacy and are committed to protecting personally identifiable information you
                may provide us through the Website. We have adopted this privacy policy
                ("PrivacyPolicy") to explain what information may be collected on our Website, how we
                use this information, and under what circumstances we may disclose the information to
                third parties. This Privacy Policy applies only to information we collect through the
                Website and does not apply to our collection of information from other sources.
            </p>
            <p style="text-indent: 2em; text-align:justify;">
                This Privacy Policy, together with the Terms and conditions posted on our
                Website, set
                forth the general rules and policies governing your use of our Website. Depending on
                your activities when visiting our Website, you may be required to agree to additional
                terms and conditions.
            </p>

            <h2>Website Visitors</h2>

            <p style="text-indent: 2em; text-align:justify;">
                Like most website operators, Ant Commodity collects
                non-personally-identifying information of the sort that web browsers
                and servers typically make
                available, such as the browser type, language preference, referring site, and the
                date and time of each visitor request. Ant Commodity’s purpose in collecting
                non-personally identifying information is to better understand how Ant Commodity’s
                visitors use its website. From time to time, Ant Commodity may release
                non-personally-identifying information in the aggregate, e.g.,
                by publishing a report on trends in
                the usage of its website.
            </p>

            <p style="text-indent: 2em; text-align:justify;">
                Ant Commodity also collects potentially personally-identifying information like
                Internet Protocol (IP) addresses for logged in users and for users leaving comments
                on https://www.antcommodity.com blog posts. Ant Commodity only discloses logged in user
                and commenter IP addresses under the same circumstances that it uses and discloses
                personally-identifying information as described below.
            </p>

            <h2>Gathering of Personally-Identifying Information</h2>

            <p style="text-indent: 2em; text-align:justify;">
                Certain visitors to Ant Commodity’s websites choose to interact with Ant Commodity in
                ways that require Ant Commodity to gather personally-identifying information. The
                amount and type of information that Ant Commodity gathers depends on the nature of
                the interaction. For example, we ask visitors who sign up for a blog at https://www.antcommodity.com
                to provide a username and email address.
            </p>

            <h2>Security</h2>

            <p style="text-indent: 2em; text-align:justify;">
                The security of your Personal Information is important to us, but remember that no
                method of transmission over the Internet, or method of electronic storage is 100%
                secure. While we strive to use commercially acceptable means to protect your Personal
                Information, we cannot guarantee its absolute security.
            </p>

            <h2>Advertisements</h2>
            <p style="text-indent: 2em; text-align:justify;">
                Ads appearing on our website may be delivered to users by advertising partners, who
                may set cookies. These cookies allow the ad server to recognize your computer each
                time they send you an online advertisement to compile information about you or others
                who use your computer. This information allows ad networks to, among other things,
                deliver targeted advertisements that they believe will be of most interest to you.
                This PrivacyPolicy covers the use of cookies by Ant Commodity and does not cover the
                use of cookies by any advertisers.
            </p>

            <h2>Links To External Sites</h2>

            <p style="text-indent: 2em; text-align:justify;">
                Our Service may contain links to external sites that are not operated by us. If you
                click on a third party link, you will be directed to that third party's site. We
                strongly advise you to review the Privacy Policy and terms and conditions of every
                site you visit.
            </p>

            <p style="text-indent: 2em; text-align:justify;">
                We have no control over, and assume no responsibility for the content,
                privacy policies or practices of any third party sites, products or services.
            </p>

            <h2>Www.antcommodity.com uses Google AdWords for remarketing</h2>

            <p style="text-indent: 2em; text-align:justify;">
                Www.antcommodity.com uses the remarketing services to advertise on third party
                websites (including Google) to previous visitors to our site. It could mean that we
                advertise to previous visitors who haven’t completed a task on our site, for example
                using the contact form to make an enquiry. This could be in the form of an
                advertisement on the Google search results page, or a site in the Google Display
                Network. Third-party vendors, including Google, use cookies to serve ads based on
                someone’s past visits. Of course, any data collected will be used in accordance with
                our own privacy policy and Google’s privacy policy.
            </p>

            <p style="text-indent: 2em; text-align:justify;">
                You can set preferences for how Google advertises to you using the Google Ad
                Preferences page, and if you want to you can opt out of interest-based advertising
                entirely by cookie settings or permanently using a browser plugin.
            </p>

            <h2>Protection of Certain Personally-Identifying Information</h2>

            <p style="text-indent: 2em; text-align:justify;">
                Ant Commodity discloses potentially personally-identifying and personally-identifying
                information only to those of its employees, contractors and affiliated organizations
                that (i) need to know that information in order to process it on Ant Commodity’s
                behalf or toprovide services available at Ant Commodity’s website, and (ii) that have
                agreed not to disclose it to others. Some of those employees, contractors and
                affiliated organizations may be located outside of your home country; by using Ant
                Commodity’s website,you consent to the transfer of such information to them. Ant
                Commodity will not rent or sell potentially personally-identifying and personally-identifying
                information to anyone. Other than to its employees, contractors and
                affiliated organizations, as described above, Ant Commodity discloses potentially
                personally-identifying and personally-identifying information only in response to a
                subpoena, court order or other governmental request, or when Ant Commodity believes
                in good faith that disclosure is reasonably necessary to protect the property or
                rights of Ant Commodity, third parties or the public at large.
            </p>

            <p style="text-indent: 2em; text-align:justify;">
                If you are a registered user of https://www.antcommodity.com and have supplied your
                email address, Ant Commodity may occasionally send you an email to tell you about new
                features, solicit your feedback, or just keep you up to date with what’s going on
                with Ant Commodity and our products. We primarily use our blog to communicate this
                type of information, so we expect to keep this type of email to a minimum. If you
                send us a request (for example via a support email or via one of our feedback
                mechanisms), we reserve the right to publish it in order to help us clarify or
                respond to your request or to help us support other users. Ant Commodity takes all
                measures reasonably necessary to protect against the unauthorized access, use,
                alteration or destruction of potentially personally-identifying and personally-identifying information.
            </p>

            <h2>Aggregated Statistics</h2>

            <p style="text-indent: 2em; text-align:justify;">
                Ant Commodity may collect statistics about the behavior of visitors to its website.
                Ant Commodity may display this information publicly or provide it to others. However,
                Ant Commodity does not disclose your personally-identifying information.
            </p>

            <h2>Cookies</h2>

            <p style="text-indent: 2em; text-align:justify;">
                To enrich and perfect your online experience, Ant Commodity uses "Cookies", similar
                technologies and services provided by others to display personalized content,
                appropriate advertising and store your preferences on your computer.
            </p>

            <p style="text-indent: 2em; text-align:justify;">
                A cookie is a string of information that a website stores on a visitor’s computer, and
                that the visitor’s browser provides to the website each time the visitor returns. Ant
                Commodity uses cookies to help Ant Commodity identify and track visitors, their usage
                of https://www.antcommodity.com, and their website access preferences. Ant Commodity
                visitors who do not wish to have cookies placed on their computers should set their
                browsers to refuse cookies before using Ant Commodity’s websites, with the drawback
                that certain features of Ant Commodity’s websites may not function properly without
                the aid of cookies.
            </p>

            <p style="text-indent: 2em; text-align:justify;">
                By continuing to navigate our website without changing your cookie settings, you
                hereby acknowledge and agree to Ant Commodity's use of cookies.
            </p>

            <h2>E-commerce</h2>

            <p style="text-indent: 2em; text-align:justify;">
                Those who engage in transactions with Ant Commodity –by purchasing Ant Commodity's
                services or products, are asked to provide additional information, including as
                necessary the personal and financial information required to process those
                transactions. In each case, Ant Commodity collects such information only insofar as
                is necessary or appropriate to fulfill the purpose of the visitor’s interaction with
                Ant Commodity. Ant Commodity does not disclose personally-identifying information
                other than as described below. And visitors can always refuse to supply
                personally-identifying information, with the caveat that it may prevent them from engaging in
                certain website-related activities.
            </p>
            <h2>Business Transfers</h2>

            <p style="text-indent: 2em; text-align:justify;">
                If Ant Commodity, or substantially all of its assets, were acquired, or in the
                unlikely event that Ant Commodity goes out of business or enters bankruptcy, user
                information would be one of the assets that is transferred or acquired by a third
                party. You acknowledge that such transfers may occur, and that any acquirer of Ant
                Commodity may continue to use your personal information asset forth in this policy.
            </p>

            <h2>Privacy Policy Changes</h2>

            <p style="text-indent: 2em; text-align:justify;">
                Although most changes are likely to be minor, Ant Commodity may change its Privacy
                Policy from time to time, and in Ant Commodity’s sole discretion. Ant Commodity
                encourages visitors to frequently check this page for any changes to its Privacy
                Policy. Your continued use of this site after any change in this Privacy Policy will
                constitute your acceptance of such change.
            </p>

            <h2>Credit & Contact Information</h2>

            <p style="text-indent: 2em; text-align:justify;">
                This privacy policy was created at
                <a href="https://termsandconditionstemplate.com/privacy-policy-generator/">
                    https://termsandconditionstemplate.com/privacy-policy-generator/
                </a>.
                If you have any questions about this Privacy Policy, please contact us via or phone.
            </p>
        </div>
    </div>

    <div class="margin-top-50"></div>


    <!-- Footer
    ================================================== -->
    <% include footer.ejs %>

</div>


<!-- Java Script
================================================== -->
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/scripts/jquery.jpanelmenu.js"></script>
<script src="/scripts/jquery.themepunch.plugins.min.js"></script>
<script src="/scripts/jquery.themepunch.revolution.min.js"></script>
<script src="/scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="/scripts/jquery.magnific-popup.min.js"></script>
<script src="/scripts/hoverIntent.js"></script>
<script src="/scripts/superfish.js"></script>
<script src="/scripts/jquery.pureparallax.js"></script>
<script src="/scripts/jquery.pricefilter.js"></script>
<script src="/scripts/jquery.selectric.min.js"></script>
<script src="/scripts/jquery.royalslider.min.js"></script>
<script src="/scripts/SelectBox.js"></script>
<script src="/scripts/modernizr.custom.js"></script>
<script src="/scripts/waypoints.min.js"></script>
<script src="/scripts/jquery.flexslider-min.js"></script>
<script src="/scripts/jquery.counterup.min.js"></script>
<script src="/scripts/jquery.tooltips.min.js"></script>
<script src="/scripts/jquery.isotope.min.js"></script>
<script src="/scripts/puregrid.js"></script>
<script src="/scripts/stacktable.js"></script>
<script src="/scripts/custom.js"></script>
<script src="/scripts/views/header_func.js"></script>

</body>
</html>