<div class="container">

    <!-- Sidebar
    ================================================== -->
    <div class="four columns">

        <!-- Categories -->
        <div class="widget margin-top-0">

            <ul id="categories">

                <li><a href="/user/basic">Basic Account</a></li>
                <li><a href="/user/contactinfo">Contact Information</a></li>
                <li><a href="/user/bankacc">Bank Account</a></li>
                <li><a href="/user/bizinfo">Business Information</a></li>
                <li><a href="/user/notfpref">Notification Preferences</a></li>

            </ul>
            <div class="clearfix"></div>

        </div>

    </div>
