<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107495910-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments)
      };
      gtag('js', new Date());

      gtag('config', 'UA-107495910-1');
    </script>

    <%
    if (typeof(message) == undefined)
        var message = "";
    %>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>SellBnB</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/colors/blue.css" id="colors">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body class="boxed">
<div id="wrapper">

    <% include header.ejs %>
    <style>
        .seven.columns>span>a>img {
            width: 118px;
            height: 166px;
        }
    </style>
    <div class="row" style="text-align: center; background-color: #003953;">
        <h1 style="color: white">Our Team</h1>
    </div>

    <!-- Content
    ================================================== -->

    <!-- Container -->
    <div class="container" style="color:#000;">
        <div class="one columns" style="visibility: hidden;">a</div>
        <div class="fifteen columns" style="font-size: 18px">
            <div style="text-align:center;">
                <p>
                    We are a team of entrepreneurs and innovators, creative problem solvers, and
                    achievers. Every one of us –young, old, novice, experienced –is passionate about the
                    great work we do here at Ant Commodity. We are spread across four countries, and doing
                    our best to make commodity trading safer, and efficient.
                </p>
            </div>
            <div style="float:left;">
                <div class="seven columns">
                    <td class="wsite-multicol-col" style="padding:0 15px;">
                    <span style="display: table;width:139px;position:relative;float:left;max-width:100%;">
                        <a><img src="/images/team_images/H L Ananda Piyankara.jpg"
                                style="margin: 5px 10px 10px 0; padding:3px; border: 1px solid black;"></a>
                    </span>
                        <div style="display:block;">
                            <strong style="color:#000; font-size: 20px">H L Ananda Piyankara </strong><br>
                            <p>HL is the founder of Ant Commodity. He started his first business at the age of 10,
                                and since then he has worked in three industries: tea, natural rubber, and spices. He
                                was awarded the best young entrepreneuraward 2008 in Sri Lanka; Growing UP CEO 2009
                                from the Harvard Business School; the made it to the Global Student Entrepreneurs
                                awards finals at NYSE 2012. He is also a One Young World ambassador.
                                <br> When HL started making “processed rubber,” he learned that buying raw materials from
                                traders was not a viable business strategy, so he went on to buy directly from
                                producers in rural Sri Lanka. What he didn’t realize was that there was no
                                infrastructure for manufacturers to buy directly from producers.  It took over a year
                                for him to fully fabricate his supplier network.
                                <br>
                                He later learned that producers in Myanmar, and Papua New Guinea offered the lowest
                                prices for “raw rubber.” Because he had neither the time nor resources to visit such
                                places, he only bought from Sri Lanka, knowing that he could find better prices if he
                                sourced from other countries.
                                <br> All these experiences inspired HL to foundSellBnB.
                            </p><br></div>
                        <hr style="width:100%;clear:both;visibility:hidden;">
                    </td>
                </div>

                <div class="seven columns">
                    <td class="wsite-multicol-col" style="padding:0 15px;">
                    <span style="display: table;width:139px;position:relative;float:left;max-width:100%;">
                        <a><img src="/images/team_images/Thakshila Liyanage.png"
                                style="margin: 5px 10px 10px 0; padding:3px; border: 1px solid black;"></a>
                    </span>
                        <div style="display:block;">
                            <strong style="color:#000; font-size: 20px">Thakshila Liyanage (Ph.D. 2019
                                Chemistry)</strong><br>
                            <p>Thakshila is our Analytical chemist. She has working experience in natural
                                rubber, tea and cinnamon commodities. Thakshila oversees laboratory
                                testing for Ant Commodity and advises producers and sellers on the testing
                                side. For any lab-related issue, Thakshila finds the answer and communicates
                                it in a way we all can understand.</p>
                        </div>
                    </td>
                </div>

                <div class="seven columns">
                    <td class="wsite-multicol-col" style="padding:0 15px;">
                    <span style="display: table;width:139px;position:relative;float:left;max-width:100%;">
                        <a><img src="/images/team_images/Claude Wickramasighe.jpg"
                                style="margin: 5px 10px 10px 0; padding:3px; border: 1px solid black;"></a>
                    </span>
                        <div style="display:block;">
                            <strong style="color:#000; font-size: 20px">Claude Wickramasighe </strong><br>
                            <p>Claude is our only engineer. He has over 40 years of engineering experience and
                                has worked with iconic companies in Sri Lanka. For Ant Commodity,
                                Claude designs and executes the protocol to conduct inspections for farms,
                                processing units, shipments and samples. He has outstanding experience in the
                                technical side of agriculture, and shares his know-how with producers to help
                                them improve their manufacturing processes.   </p>
                        </div>
                    </td>
                </div>

                <div class="seven columns">
                    <td class="wsite-multicol-col" style="padding:0 15px;">
                    <span style="display: table;width:139px;position:relative;float:left;max-width:100%;">
                        <a><img src="/images/team_images/Gayani Sanjeewani.jpg"
                                style="margin: 5px 10px 10px 0; padding:3px; border: 1px solid black;"></a>
                    </span>
                        <div style="display:block;">
                            <strong style="color:#000; font-size: 20px">Gayani Sanjeewani (Ph.D. 2017) </strong><br>
                            <p>Gayani handles communications, operations, and team performance.
                                All messages sent by buyers are first reviewed by Ant Commodity.
                                Sanjeewani and her team follow up with the producers about the messages
                                they receive and reply accordingly. This ensures that prompt
                                and accurate messages are shared with both parties. </p>
                        </div>
                    </td>
                </div>

                <div class="seven columns">
                    <td class="wsite-multicol-col" style="padding:0 15px;">
                    <span style="display: table;width:139px;position:relative;float:left;max-width:100%;">
                        <a><img src="/images/team_images/member1.jpg"
                                style="margin: 5px 10px 10px 0; padding:3px; border: 1px solid black;"></a>
                    </span>
                        <div style="display:block;">
                            <strong style="color:#000; font-size: 20px">Kamani Kulasiriya</strong><br>
                            <p>Kamani is a member of the finance team. She and her team
                                ensure receivables and payables are processed in a timely manner.  </p>
                        </div>
                    </td>
                </div>

                <div class="seven columns">
                    <td class="wsite-multicol-col" style="padding:0 15px;">
                    <span style="display: table;width:139px;position:relative;float:left;max-width:100%;">
                        <a><img src="/images/team_images/Dimuthu Athukorala.jpg"
                                style="margin: 5px 10px 10px 0; padding:3px; border: 1px solid black;"></a>
                    </span>
                        <div style="display:block;">
                            <strong style="color:#000; font-size: 20px">Dimuthu Athukorala</strong><br>
                            <p>Dimuthu is our international logistics coordinator.
                                He has over 10years of experience in shipping and logistics.
                                Dimuthu works with a pool of shipping lines and insurance firms to secure the best
                                deals for Ant Commodity customers. In a short time, he has established partnerships
                                with shipping lines to procure best LCL, FCL rates to the US, UK, Canada and South Korea.</p>
                        </div>
                    </td>
                </div>

                <div class="seven columns">
                    <td class="wsite-multicol-col" style="padding:0 15px;">
                    <span style="display: table;width:139px;position:relative;float:left;max-width:100%;">
                        <a><img src="/images/team_images/Dimuthu Kariyawasam.jpg"
                                style="margin: 5px 10px 10px 0; padding:3px; border: 1px solid black;"></a>
                    </span>
                        <div style="display:block;">
                            <strong style="color:#000; font-size: 20px">Dimuthu Kariyawasam</strong><br>
                            <p>Dimuthu is our front-end web developer. He is an award-winning programmer
                                from Sri Lanka. Dimuthu works on the front end of the website and coordinates
                                tasks with other developers to ensure a smooth and streamlined experience
                                for Ant Commodity web users. </p>
                        </div>
                    </td>
                </div>

                <div class="seven columns">
                    <td class="wsite-multicol-col" style="padding:0 15px;">
                    <span style="display: table;width:139px;position:relative;float:left;max-width:100%;">
                        <a><img src="/images/team_images/Viran Malaka.jpg"
                                style="margin: 5px 10px 10px 0; padding:3px; border: 1px solid black;"></a>
                    </span>
                        <div style="display:block;">
                            <strong style="color:#000; font-size: 20px">Viran Malaka</strong><br>
                            <p>Malaka is our back-end web developer and server operator. He is a budding, enthusiastic
                                programmer from Sri Lanka. Malaka’s parents are farmers of natural rubber and tea,
                                and, he understands and the purpose of Ant Community’s work.</p>
                        </div>
                    </td>
                </div>

                <div class="seven columns">
                    <td class="wsite-multicol-col" style="padding:0 15px;">
                    <span style="display: table;width:139px;position:relative;float:left;max-width:100%;">
                        <a><img src="/images/team_images/Thilini Dilhari.jpg"
                                style="margin: 5px 10px 10px 0; padding:3px; border: 1px solid black;"></a>
                    </span>
                        <div style="display:block;">
                            <strong style="color:#000; font-size: 20px">Thilini Dilhari</strong><br>
                            <p>Thilini is part of our sales team and is based in Canada.
                                She works with buyers in North America to find commodity producers for Ant Commodity. </p>
                        </div>
                    </td>
                </div>

                <div class="seven columns">
                    <td class="wsite-multicol-col" style="padding:0 15px;">
                    <span style="display: table;width:139px;position:relative;float:left;max-width:100%;">
                        <a><img src="/images/team_images/Nisal Ananda.jpg"
                                style="margin: 5px 10px 10px 0; padding:3px; border: 1px solid black;"></a>
                    </span>
                        <div style="display:block;">
                            <strong style="color:#000; font-size: 20px">Nisal Ananda</strong><br>
                            <p>Nisal is part of sales team, based in South Korea. He is young, enthusiastic, and hails
                                from an agricultural family background. He works with buyers in Asia to find producers
                                of commodities for Ant Commodity.</p>
                        </div>
                    </td>
                </div>

                <div class="fourteen columns" style="text-align:center; margin-top: 40px; margin-bottom:30px;">
                    <h1>Field Officers</h1>
                </div>

                <div class="seven columns">
                    <td class="wsite-multicol-col" style="padding:0 15px;">
                    <span style="display: table;width:139px;position:relative;float:left;max-width:100%;">
                        <a><img src="/images/team_images/member1.jpg"
                                style="margin: 5px 10px 10px 0; padding:3px; border: 1px solid black;"></a>
                    </span>
                        <div style="display:block;">
                            <strong style="color:#000; font-size: 20px">Indrani Sooriyaarachchi</strong><br>
                            <p>Indrani is one of our inspectors and oversees the general planting, maintenance, and
                                harvesting of crops on the estates and the spice manufacturing of our registered producers.
                                Since 1990,
                                Indrani has managed three tea factories in the Southern Province of Sri Lanka.</p>
                        </div>
                    </td>
                </div>

                <div class="seven columns">
                    <td class="wsite-multicol-col" style="padding:0 15px;">
                    <span style="display: table;width:139px;position:relative;float:left;max-width:100%;">
                        <a><img src="/images/team_images/member1.jpg"
                                style="margin: 5px 10px 10px 0; padding:3px; border: 1px solid black;"></a>
                    </span>
                        <div style="display:block;">
                            <strong style="color:#000; font-size: 20px">K G Sampath</strong><br>
                            <p>Sampath is one of our warehouse mangers working in our newly built warehouse in Galle.
                                He has worked with commodity warehouses in the past and has associated with our members
                                for a long time. He is a proactive, well-organized, and credible manager. He provides
                                leadership to an Ant Commodity team of 15 workers.
                            </p>
                        </div>
                    </td>
                </div>

                <div class="seven columns">
                    <td class="wsite-multicol-col" style="padding:0 15px;">
                    <span style="display: table;width:139px;position:relative;float:left;max-width:100%;">
                        <a><img src="/images/team_images/Rona Sosai.jpg"
                                style="margin: 5px 10px 10px 0; padding:3px; border: 1px solid black;"></a>
                    </span>
                        <div style="display:block;">
                            <strong style="color:#000; font-size: 20px">Rona Sosai</strong><br>
                            <p>Rona is one of our field officers and inspectors. He is from Myanmar and is new to
                                the commodity industry. He underwent a thorough training session under the guidance
                                of H L Ananda before joining the team. Rona oversees the “Matupi Lilenpi” project and
                                acts as the inspector for turmeric and ginger. During his short time with Ant Commodity,
                                Rona has set up a turmeric grinding facility in Matupi to help producers in that region.
                            </p>
                        </div>
                    </td>
                </div>

                <div class="seven columns">
                    <td class="wsite-multicol-col" style="padding:0 15px;">
                    <span style="display: table;width:139px;position:relative;float:left;max-width:100%;">
                        <a><img src="/images/team_images/Ruwan Pradeep.jpg"
                                style="margin: 5px 10px 10px 0; padding:3px; border: 1px solid black;"></a>
                    </span>
                        <div style="display:block;">
                            <strong style="color:#000; font-size: 20px">Ruwan Pradeep</strong><br>
                            <p>Rona is one of our field officers and inspectors. He has worked in the spice industry for
                                over 15 years. He started as a planter and later went to work with spice exporters in Sri
                                Lanka. He knows international quality standards, effective packing methods, and the
                                certification requirements for spices. Ruwan overseas cinnamon, black pepper, and
                                turmeric for Ant Commodity.
                            </p>
                        </div>
                    </td>
                </div>

                <div class="seven columns">
                    <td class="wsite-multicol-col" style="padding:0 15px;">
                    <span style="display: table;width:139px;position:relative;float:left;max-width:100%;">
                        <a><img src="/images/team_images/member1.jpg"
                                style="margin: 5px 10px 10px 0; padding:3px; border: 1px solid black;"></a>
                    </span>
                        <div style="display:block;">
                            <strong style="color:#000; font-size: 20px">Sudwealawe brother </strong><br>
                            <p>Sudwealaweis one on our field officers and inspectors. He has worked as a
                                superintendent for a leading agricultural group in Sri Lanka and has managed over
                                150 acres of spice and tea lands in Kandy. For Ant Commodity, Sudwealawe
                                oversees spices and tea.
                            </p>
                        </div>
                    </td>
                </div>
            </div>
        </div>
    </div>

    <div class="margin-top-50"></div>


    <!-- Footer
    ================================================== -->
    <% include footer.ejs %>

</div>


<!-- Java Script
================================================== -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/scripts/jquery.jpanelmenu.js"></script>
<script src="/scripts/jquery.themepunch.plugins.min.js"></script>
<script src="/scripts/jquery.themepunch.revolution.min.js"></script>
<script src="/scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="/scripts/jquery.magnific-popup.min.js"></script>
<script src="/scripts/hoverIntent.js"></script>
<script src="/scripts/superfish.js"></script>
<script src="/scripts/jquery.pureparallax.js"></script>
<script src="/scripts/jquery.pricefilter.js"></script>
<script src="/scripts/jquery.selectric.min.js"></script>
<script src="/scripts/jquery.royalslider.min.js"></script>
<script src="/scripts/SelectBox.js"></script>
<script src="/scripts/modernizr.custom.js"></script>
<script src="/scripts/waypoints.min.js"></script>
<script src="/scripts/jquery.flexslider-min.js"></script>
<script src="/scripts/jquery.counterup.min.js"></script>
<script src="/scripts/jquery.tooltips.min.js"></script>
<script src="/scripts/jquery.isotope.min.js"></script>
<script src="/scripts/puregrid.js"></script>
<script src="/scripts/stacktable.js"></script>
<script src="/scripts/custom.js"></script>
<script src="/scripts/views/header_func.js"></script>

</body>
</html>