<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Sell BnB</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/colors/blue.css" id="colors">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="boxed">
<div id="wrapper">

    <% include header.ejs %>

    <!-- Titlebar
    ================================================== -->
    <section class="parallax-titlebar fullwidth-element"  data-background="#000" data-opacity="0.2" data-height="160">

        <img src="images/mini-slides/6.jpg" alt="" />
        <div class="parallax-overlay"></div>

        <div class="parallax-content">
            <h2>User Account <span>Notification Preferences</span></h2>

            <nav id="breadcrumbs">
                <ul>
                    <li>Home</li>
                    <li>Account</li>
                    <li>Notification Preferences</li>
                </ul>
            </nav>
        </div>
    </section>

    <div class="container">

        <!-- Sidebar
        ================================================== -->
        <div class="four columns">

            <!-- Categories -->
            <div class="widget margin-top-0">

                <ul id="categories">

                    <li><a href="/user/basic">Basic Account</a></li>
                    <li><a href="/user/contact">Contact Information</a></li>
                    <li><a href="/user/payment">Payment Information</a></li>
                    <li><a href="/user/business">Business Information</a></li>
                    <li><a href="/user/notification" class="active">Notification Preferences</a></li>
                    <li><a href="/items/search">Sell</a></li>

                </ul>
                <div class="clearfix"></div>

            </div>

        </div>


        <!-- Content
        ================================================== -->

        <div class="twelve columns products">

            <h3 class="headline">As a Seller</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>
            <table class="basic-table" style="">
                <thead>
                    <tr>
                        <th></th>
                        <th style="text-align: center;">On SellBnB</th>
                        <th style="text-align: center;">Email</th>
                        <th style="text-align: center;">Text message (SMS)</th>
                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Listing Live</td>
                    <td align="center"><input name="listlive-sellbnb" type="checkbox" id="listlive-sellbnb" value="1"/></td>
                    <td align="center"><input name="listlive-email" type="checkbox" id="listlive-email" value="1" /></td>
                    <td align="center"><input name="listlive-sellbnb" type="checkbox" id="listlive-sms" value="1" /></td>
                </tr>
                <tr>
                    <td>Bid Received </td>
                    <td align="center"><input name="bidreceived-sellbnb" type="checkbox" id="bidreceived-sellbnb" value="1" /></td>
                    <td align="center"><input name="bidreceived-email" type="checkbox" id="bidreceived-email" value="1" /></td>
                    <td align="center"><input name="bidreceived-sellbnb" type="checkbox" id="bidreceived-sms" value="1" /></td>
                </tr>
                <tr>
                    <td>Select the bid </td>
                    <td align="center"><input name="selectbid-sellbnb" type="checkbox" id="selectbid-sellbnb" value="1" /></td>
                    <td align="center"><input name="selectbid-email" type="checkbox" id="selectbid-email" value="1" /></td>
                    <td align="center"><input name="selectbid-sellbnb" type="checkbox" id="selectbid-sms" value="1" /></td>
                </tr>
                <tr>
                    <td>Contract Summery</td>
                    <td align="center"><input name="contractsummary-sellbnb" type="checkbox" id="contractsummary-sellbnb" value="1" /></td>
                    <td align="center"><input name="contractsummary-email" type="checkbox" id="contractsummary-email" value="1" /></td>
                    <td align="center"><input name="contractsummary-sellbnb" type="checkbox" id="contractsummary-sms" value="1" /></td>
                </tr>
                <tr>
                    <td>Delivery Reminder</td>
                    <td align="center"><input name="deliveryreminder-sellbnb" type="checkbox" id="deliveryreminder-sellbnb" value="1" /></td>
                    <td align="center"><input name="deliveryreminder-email" type="checkbox" id="deliveryreminder-email" value="1" /></td>
                    <td align="center"><input name="deliveryreminder-sellbnb" type="checkbox" id="deliveryreminder-sms" value="1" /></td>
                </tr>
                </tbody>
            </table><br><br>

            <h3 class="headline">As a Buyer</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>
            <table class="basic-table" style="">
                <thead>
                <tr>
                    <th></th>
                    <th style="text-align: center;">On SellBnB</th>
                    <th style="text-align: center;">Email</th>
                    <th style="text-align: center;">Text message (SMS)</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Listing Alerts</td>
                    <td align="center"><input name="listing-sellbnb" type="checkbox" id="listing-sellbnb" value="1" /></td>
                    <td align="center"><input name="listing-email" type="checkbox" id="listing-email" value="1" /></td>
                    <td align="center"><input name="listing-sellbnb" type="checkbox" id="listing-sms" value="1" /></td>
                </tr>
                <tr>
                    <td>Outbid Alerts </td>
                    <td align="center"><input name="outbid-sellbnb" type="checkbox" id="outbid-sellbnb" value="1" /></td>
                    <td align="center"><input name="outbid-email" type="checkbox" id="outbid-email" value="1" /></td>
                    <td align="center"><input name="outbid-sellbnb" type="checkbox" id="outbid-sms" value="1" /></td>
                </tr>
                <tr>
                    <td>Contract Summery </td>
                    <td align="center"><input name="contractsummar-buyer-sellbnb" type="checkbox" id="contractsummar-buyer-sellbnb" value="1" /></td>
                    <td align="center"><input name="contractsummar-buyer-email" type="checkbox" id="contractsummar-buyer-email" value="1" /></td>
                    <td align="center"><input name="contractsummar-buyer-sellbnb" type="checkbox" id="contractsummar-buyer-sms" value="1" /></td>
                </tr>
                <tr>
                    <td>Payment Reminder</td>
                    <td align="center"><input name="paymentreminder-sellbnb" type="checkbox" id="paymentreminder-sellbnb" value="1" /></td>
                    <td align="center"><input name="paymentreminder-email" type="checkbox" id="paymentreminder-email" value="1" /></td>
                    <td align="center"><input name="paymentreminder-sellbnb" type="checkbox" id="paymentreminder-sms" value="1" /></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="margin-top-50"></div>

    <!-- Footer
    ================================================== -->
    <% include footer.ejs %>

</div>


<!-- Java Script
================================================== -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="scripts/jquery.jpanelmenu.js"></script>
<script src="scripts/jquery.themepunch.plugins.min.js"></script>
<script src="scripts/jquery.themepunch.revolution.min.js"></script>
<script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="scripts/jquery.magnific-popup.min.js"></script>
<script src="scripts/hoverIntent.js"></script>
<script src="scripts/superfish.js"></script>
<script src="scripts/jquery.pureparallax.js"></script>
<script src="scripts/jquery.pricefilter.js"></script>
<script src="scripts/jquery.selectric.min.js"></script>
<script src="scripts/jquery.royalslider.min.js"></script>
<script src="scripts/SelectBox.js"></script>
<script src="scripts/modernizr.custom.js"></script>
<script src="scripts/waypoints.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script src="scripts/jquery.counterup.min.js"></script>
<script src="scripts/jquery.tooltips.min.js"></script>
<script src="scripts/jquery.isotope.min.js"></script>
<script src="scripts/puregrid.js"></script>
<script src="scripts/stacktable.js"></script>
<script src="scripts/custom.js"></script>
<script src="scripts/views/header_func.js"></script>

</body>
</html>