<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Seller BnB</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/colors/blue.css" id="colors">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="boxed">
<div id="wrapper">

    <% include header.ejs %>

    <!-- Titlebar
    ================================================== -->
    <section class="parallax-titlebar fullwidth-element"  data-background="#000" data-opacity="0.45" data-height="160">

        <img src="images/titlebar_bg_02.jpg" alt="" />
        <div class="parallax-overlay"></div>

        <div class="parallax-content">
            <h2>User Account <span>Contact Details</span></h2>

            <nav id="breadcrumbs">
                <ul>
                    <li>Home</li>
                    <li>Account</li>
                    <li>Contact Details</li>
                </ul>
            </nav>
        </div>
    </section>

    <div class="container">

        <!-- Sidebar
        ================================================== -->
        <div class="four columns">

            <!-- Categories -->
            <div class="widget margin-top-0">

                <ul id="categories">

                    <li><a href="/user/basic">Basic Account</a></li>
                    <li><a href="/user/contact">Contact Information</a></li>
                    <li><a href="/user/payment">Payment Information</a></li>
                    <li><a href="/user/business" class="active">Business Information</a></li>
                    <li><a href="/user/notification">Notification Preferences</a></li>
                    <li><a href="/items/search">Sell</a></li>

                </ul>
                <div class="clearfix"></div>

            </div>

        </div>


        <!-- Content
        ================================================== -->

        <div class="twelve columns products">

            <!-- Headline Business Logo-->
            <h3 class="headline">Company Logo</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>
            <img src="images/titlebar_bg_02.jpg" alt="" />
            <a href="#" style="color:#2db2ea;float: right; margin-top:10px">Upload New Image</a></td>

            <br><br>
            <!-- Headline Business Introduction-->
            <h3 class="headline">Company Introduction</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>
            <p>We are speasilized in making premium Ceylon Tea since 1988. Our product includes Green Tea,
                White Tea and Black Tea. We are contently looking for market opportunities to expand our business to the next level
            </p>
            <a class="popup-with-zoom-anim" href="#edit-introduction-dialog" style="color:#2db2ea; float: right">Edit Instructions</a>

            <div id="edit-introduction-dialog" class="small-dialog zoom-anim-dialog mfp-hide">
                <h2 class="margin-bottom-10">Edit Introduction</h2>
                <form method="post" name="editform">

                    <fieldset>

                        <div class="twelve alpha columns editform">
                            <textarea row="20" style="width: 97%;margin-bottom: 10px"></textarea>
                        </div>

                        <div class="twelve columns editform">
                            <input type="submit" class="submit" id="submitnewintroduction" value="Save"/>
                        </div>

                    </fieldset>

                    <div class="clearfix"></div>
                </form>
            </div>

            <br><br>

            <!-- Headline Trading Commodities-->
            <h3 class="headline">Trading Commodities</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>

            <table class="basic-table" style="">

                <tbody>
                <tr>
                    <td> Buying</td>
                    <td> Coconut Shell - Sri Lanka <a href="#" style="color:#2db2ea;">(Remove)</a><br>
                        Ribbed Smoked Sheet 3 - Sri Lanka <a href="#" style="color:#2db2ea;">(Remove)</a><br>
                        Coconut Husk - Sri Lanka <a href="#" style="color:#2db2ea;">(Remove)</a>
                    </td>
                    <td>
                        <a class="popup-with-zoom-anim" href="#buying-commodity-add-dialog" style="color:#2db2ea;">Add</a><br/>

                        <div id="buying-commodity-add-dialog" class="small-dialog zoom-anim-dialog mfp-hide">
                            <h2 class="margin-bottom-10">Add New Commodity</h2>
                            <form method="post" name="editform">

                                <fieldset>

                                    <div class="twelve alpha columns editform">
                                        <input name="newbuyingcommodity" type="text" id="newbuyingcommodity" placeholder="New Commodity"/>
                                    </div>

                                    <div class="twelve columns editform">
                                        <input type="submit" class="submit" id="submitbuyingcommodity" value="Save"/>
                                    </div>

                                </fieldset>

                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td> Selling</td>
                    <td> Coconut Shell - Sri Lanka <a href="#" style="color:#2db2ea;">(Remove)</a><br>
                        Ribbed Smoked Sheet 3 - Sri Lanka <a href="#" style="color:#2db2ea;">(Remove)</a><br>
                        Coconut Husk - Sri Lanka <a href="#" style="color:#2db2ea;">(Remove)</a>
                    </td>
                    <td>
                        <a class="popup-with-zoom-anim" href="#selling-commodity-add-dialog" style="color:#2db2ea;">Add</a><br/>

                        <div id="selling-commodity-add-dialog" class="small-dialog zoom-anim-dialog mfp-hide">
                            <h2 class="margin-bottom-10">Add New Commodity</h2>
                            <form method="post" name="editform">

                                <fieldset>

                                    <div class="twelve alpha columns editform">
                                        <input name="newsellingcommodity" type="text" id="newsellingcommodity" placeholder="New Commodity"/>
                                    </div>

                                    <div class="twelve columns editform">
                                        <input type="submit" class="submit" id="submitsellingcommodity" value="Save"/>
                                    </div>

                                </fieldset>

                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <br><br>
            <!-- Headline Business Certificate-->
            <h3 class="headline">Business Certificate</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>

            <table class="basic-table" style="">

                <tbody>
                <tr>
                    <td> Business Registration <a href="#" style="color:#2db2ea;">(Expire)</a></td>
                </tr>
                <tr>
                    <td> Organic Certificate <a href="#" style="color:#2db2ea;">(Expire)</a></td>
                </tr>
                </tbody>
            </table>
            <a href="#" style="color:#2db2ea;float: right">Add Certificate</a>
        </div>

    </div>

    <div class="margin-top-50"></div>

    <!-- Footer
    ================================================== -->
    <div id="footer">

        <!-- Container -->
        <div class="container">

            <div class="four columns">
                <img src="images/logo-footer.png" alt="" class="margin-top-10"/>
                <p class="margin-top-15">Nulla facilisis feugiat magna, ut molestie metus hendrerit vitae. Vivamus
                    tristique lectus at varius rutrum. Integer lobortis mauris non consectetur eleifend.</p>
            </div>

            <div class="four columns">

                <!-- Headline -->
                <h3 class="headline footer">Customer Service</h3>
                <span class="line"></span>
                <div class="clearfix"></div>

                <ul class="footer-links">
                    <li><a href="#">Order Status</a></li>
                    <li><a href="#">Payment Methods</a></li>
                    <li><a href="#">Delivery & Returns</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>

            </div>

            <div class="four columns">

                <!-- Headline -->
                <h3 class="headline footer">My Account</h3>
                <span class="line"></span>
                <div class="clearfix"></div>

                <ul class="footer-links">
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Order History</a></li>
                    <li><a href="#">Wish List</a></li>
                </ul>

            </div>

            <div class="four columns">

                <!-- Headline -->
                <h3 class="headline footer">Newsletter</h3>
                <span class="line"></span>
                <div class="clearfix"></div>
                <p>Sign up to receive email updates on new product announcements, gift ideas, special promotions, sales
                    and more.</p>

                <form action="#" method="get">
                    <button class="newsletter-btn" type="submit">Join</button>
                    <input class="newsletter" type="text" placeholder="mail@example.com" value=""/>
                </form>
            </div>

        </div>
        <!-- Container / End -->

    </div>
    <!-- Footer / End -->

    <!-- Footer Bottom / Start -->
    <div id="footer-bottom">

        <!-- Container -->
        <div class="container">

            <div class="eight columns">© Copyright 2014 by <a href="#">trizzy</a>. All Rights Reserved.</div>
            <div class="eight columns">
                <ul class="payment-icons">
                    <li><img src="images/visa.png" alt=""/></li>
                    <li><img src="images/mastercard.png" alt=""/></li>
                    <li><img src="images/skrill.png" alt=""/></li>
                    <li><img src="images/moneybookers.png" alt=""/></li>
                    <li><img src="images/paypal.png" alt=""/></li>
                </ul>
            </div>

        </div>
        <!-- Container / End -->

    </div>
    <!-- Footer Bottom / End -->

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

</div>


<!-- Java Script
================================================== -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="scripts/jquery.jpanelmenu.js"></script>
<script src="scripts/jquery.themepunch.plugins.min.js"></script>
<script src="scripts/jquery.themepunch.revolution.min.js"></script>
<script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="scripts/jquery.magnific-popup.min.js"></script>
<script src="scripts/hoverIntent.js"></script>
<script src="scripts/superfish.js"></script>
<script src="scripts/jquery.pureparallax.js"></script>
<script src="scripts/jquery.pricefilter.js"></script>
<script src="scripts/jquery.selectric.min.js"></script>
<script src="scripts/jquery.royalslider.min.js"></script>
<script src="scripts/SelectBox.js"></script>
<script src="scripts/modernizr.custom.js"></script>
<script src="scripts/waypoints.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script src="scripts/jquery.counterup.min.js"></script>
<script src="scripts/jquery.tooltips.min.js"></script>
<script src="scripts/jquery.isotope.min.js"></script>
<script src="scripts/puregrid.js"></script>
<script src="scripts/stacktable.js"></script>
<script src="scripts/custom.js"></script>

</body>
</html>