<h2>Hi, </h2>
<h3>This is from AntCommodity.com auth service</h3>
<p>We got your forgot password request. Following is your password recovery code</p>

<h3><%= randomNumber %></h3>

<p>If you are not trying to reset your password and this request is not made by you,
    please ignore this message and your account is protected by AntCommodity auth service.
</p>