Hi <%= firstName %>:
<br><br>
Your profile is all set up now and ready to start connecting with commodity producers!<br>
To learn more about how Ant Commodity works, please click <a href="http://www.antcommodity.com/how_to">http://www.antcommodity.com/how_to</a>.
<br>
To check commodity news, please click <a href="http://www.antcommodity.com/news/">http://www.antcommodity.com/news/</a>.
<br>
If you have questions, please contact us at <a href="mailto:support@antcommodity.com">support@antcommodity.com</a>.
<br>
<br>
Best regards, <br>
Ant Commodity