Hi <%= firstName %>:

Your profile is all set up now and ready to start connecting with commodity producers!
To learn more about how Ant Commodity works, please click <a href="http://www.antcommodity.com/how_to">http://www.antcommodity.com/how_to</a>.
To check commodity news, please click <a href="http://www.antcommodity.com/news/">http://www.antcommodity.com/news/</a>.
If you have questions, please contact us at <a href="mailto:support@antcommodity.com">support@antcommodity.com</a>.

Best regards,
Ant Commodity